<% if featured_article.present? %>
  <%= link_to article_path(featured_article.id) do %> 
    <header> 
      <h1><%= featured_article.title %></h1>
      <h2 class="subline"><%=featured_article.description %></h2>
    </header>
    <% if featured_article.image_url.present? %> 
      <%= image_tag(featured_article.image_url, class: "img-responsive") %>
    <% end %>
  <% end %> 
<% end %> 
 

 


