<% if featured_article.present? %>
  <%= link_to article_path(featured_article.id) do %> 
    <header> 
      <h1><%= featured_article.title %></h1>
      <% if featured_article.subline.present? %>
        <h2 class="main-article-subline"><%=featured_article.subline %></h2>
      <% end %>
    </header>
    <% if featured_article.article_image.url.present? %> 
       <%= image_tag(featured_article.article_image.url(:landing_page_thumb), class: "img-responsive") %> 
    <% end %>
  <% end %> 
<% end %> 
 

 


 