<div class="item<%= " active" if group == @product_slide_groups.first %>">
  <% group.each do |product| %>

    <div class="col-xs-4 main-content item-inner">
      <%= link_to product_path(product) do %>
        <% if product.product_image? %>
          <%= image_tag(product.product_image.url(:medium)) %>
        <% end %>  
        <div class="carousel-caption">
          <h5><%= product.name %></h5>
        </div>
      <% end %>
    </div>

  <% end %>
</div>