<div class="container">


  <h1>Lighting</h1>
  <p id="notice"><%= @category_notice %></p>


  <div class="row">
  
    <% @lighting_products.each do |product| %>
      <%= render partial: "shared/product", locals: {product: product} %>
    <% end %>
  
  </div>


</div>