<div class="container">


  <h1>Lighting</h1>
  <p id="notice"><%= @category_notice %></p>


  <div class="row">
    <% if @lighting_products.present? %>
	    <% @lighting_products_paginated.each do |product| %>
	      <%= render partial: "shared/product", locals: {product: product} %>
	    <% end %>
    <% end %>
  
  </div>


</div>