<div class="container">


  <h1>Living</h1>
  <p id="notice"><%= @category_notice %></p>


  <div class="row">
    <% if @living_products.present? %>
	    <% @living_products.each do |product| %>
	      <%= render partial: "shared/product", locals: {product: product} %>
	    <% end %>
    <% end %>
  
  </div>


</div>