<div class="container">
  <h2>Confirmation Email</h2>

  <p>
    An Email for Email confirmation in on its way to your Inbox. Please ensure you've put our mailer on our whitelist and confirma your email adress to go shopping as soon as possible.
  </p>

  <%= render "devise/shared/links" %>
</div>