.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  font-size: 2em;
}

.rated img,
.rating img {
  width: 1.5em;
  height: 1.5em;
  margin-bottom: 10px;
}

@font-face {
  font-family: "raty";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/raty.eot");
  src: url("./fonts/raty.eot?#iefix") format("embedded-opentype");
  src: url("./fonts/raty.svg#raty") format("svg");
  src: url("./fonts/raty.ttf") format("truetype");
  src: url("./fonts/raty.woff") format("woff");
}

.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "raty";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.cancel-on-png:before {
  content: "\e600";
}

.cancel-off-png:before {
  content: "\e601";
}

.star-on-png:before {
  content: "\f005";
}

.star-off-png:before {
  content: "\f006";
}

.star-half-png:before {
  content: "\f123";
}
/* line 14, /home/eve/moebi/app/assets/stylesheets/articles.scss */
.field {
  margin: 20px auto;
}

/* line 18, /home/eve/moebi/app/assets/stylesheets/articles.scss */
.main-article {
  position: relative;
}

/* line 22, /home/eve/moebi/app/assets/stylesheets/articles.scss */
.main-article header {
  position: absolute;
  top: 20px;
  max-width: 60%;
  z-index: 2;
}

/* line 29, /home/eve/moebi/app/assets/stylesheets/articles.scss */
.main-article h1,
.main-article h2 {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: -15px;
  color: #729ea1;
  text-shadow: none;
}

/* line 38, /home/eve/moebi/app/assets/stylesheets/articles.scss */
.main-article h1 {
  font-size: 4em;
}

@media (max-width: 576px) {
  /* line 42, /home/eve/moebi/app/assets/stylesheets/articles.scss */
  .main-article h1 {
    font-size: 2.2em;
    margin-bottom: 8px;
  }
}
/* line 48, /home/eve/moebi/app/assets/stylesheets/articles.scss */
.main-article h2 {
  font-family: "Muli", sans-serif;
  font-weight: 400;
  font-size: 2.2em;
  text-transform: lowercase;
}

@media (max-width: 576px) {
  /* line 55, /home/eve/moebi/app/assets/stylesheets/articles.scss */
  .main-article h2 {
    font-size: 1.2em;
  }
}
/* line 60, /home/eve/moebi/app/assets/stylesheets/articles.scss */
.teaser-article {
  background-color: #729ea1;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

/* line 67, /home/eve/moebi/app/assets/stylesheets/articles.scss */
.teaser-article i {
  font-weight: 400;
  font-size: 1.3em;
  color: white;
}

@media (max-width: 576px) {
  /* line 74, /home/eve/moebi/app/assets/stylesheets/articles.scss */
  .teaser-article i {
    font-size: 1em;
  }
}
/* line 16, /home/eve/moebi/app/assets/stylesheets/main.scss */
body {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  color: #575552;
}

/* line 22, /home/eve/moebi/app/assets/stylesheets/main.scss */
h1, h2, h3, h6 {
  font-weight: 900;
  color: #afaba5;
}

/* line 27, /home/eve/moebi/app/assets/stylesheets/main.scss */
h4, h5 {
  text-transform: uppercase;
}

/* line 33, /home/eve/moebi/app/assets/stylesheets/main.scss */
a,
a:active,
a:focus,
a:visited {
  color: #729ea1;
}

/* line 40, /home/eve/moebi/app/assets/stylesheets/main.scss */
a:hover {
  color: #3dc6bb;
}

/* line 45, /home/eve/moebi/app/assets/stylesheets/main.scss */
.pagination {
  cursor: default;
  margin: auto;
}
/* line 48, /home/eve/moebi/app/assets/stylesheets/main.scss */
.pagination a, .pagination span, .pagination em {
  padding: 0.5em 1em;
  display: block;
  float: left;
  border-left: 1px solid #afaba5;
}
/* line 53, /home/eve/moebi/app/assets/stylesheets/main.scss */
.pagination a:hover, .pagination span:hover, .pagination em:hover {
  color: white;
  background-color: #afaba5;
}
/* line 58, /home/eve/moebi/app/assets/stylesheets/main.scss */
.pagination .disabled {
  display: none;
}
/* line 61, /home/eve/moebi/app/assets/stylesheets/main.scss */
.pagination .current {
  font-weight: 400;
  background-color: #afaba5;
  color: white;
}
/* line 65, /home/eve/moebi/app/assets/stylesheets/main.scss */
.pagination .current:hover {
  background-color: #729ea1;
}
/* line 69, /home/eve/moebi/app/assets/stylesheets/main.scss */
.pagination a.previous_page {
  border-left: none;
}

/* line 75, /home/eve/moebi/app/assets/stylesheets/main.scss */
.anchor-top {
  margin-top: 70px;
}

/* line 79, /home/eve/moebi/app/assets/stylesheets/main.scss */
.anchor-bottom {
  height: 220px;
}

/* line 87, /home/eve/moebi/app/assets/stylesheets/main.scss */
.navbar-main {
  background-color: #afaba5;
  z-index: 100;
}

/* line 92, /home/eve/moebi/app/assets/stylesheets/main.scss */
.navbar-default .navbar-brand {
  color: white;
  font-size: 200%;
  font-weight: 400;
}

/* line 97, /home/eve/moebi/app/assets/stylesheets/main.scss */
.navbar-default .navbar-brand:hover {
  color: #575552;
}

/* line 101, /home/eve/moebi/app/assets/stylesheets/main.scss */
.navbar-default .navbar-nav > li > a {
  transition: all .3s linear .1s;
  color: white;
  font-size: .9em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .2em;
}

/* line 109, /home/eve/moebi/app/assets/stylesheets/main.scss */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus {
  color: #afaba5;
  box-shadow: 0 -52px white inset;
  outline-style: none;
}

/* line 117, /home/eve/moebi/app/assets/stylesheets/main.scss */
.navbar-right .user-nav,
.navbar-right li.user-nav a {
  letter-spacing: 0.1em;
}

/* line 122, /home/eve/moebi/app/assets/stylesheets/main.scss */
.navbar-right {
  font-size: 90%;
}

/* line 126, /home/eve/moebi/app/assets/stylesheets/main.scss */
.navbar-main .glyphicon {
  font-size: 110%;
  line-height: 1.2em;
}

/* line 131, /home/eve/moebi/app/assets/stylesheets/main.scss */
.alert {
  margin: 20px auto;
}

/* line 138, /home/eve/moebi/app/assets/stylesheets/main.scss */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: #afaba5;
  z-index: 100;
}

/* line 146, /home/eve/moebi/app/assets/stylesheets/main.scss */
.footer a,
.footer h3 {
  color: white;
}

/* line 151, /home/eve/moebi/app/assets/stylesheets/main.scss */
.searchform {
  margin: 20px 0 0 0;
}

@media (max-width: 576px) {
  /* line 156, /home/eve/moebi/app/assets/stylesheets/main.scss */
  .searchform-header {
    font-size: 1.2em;
  }
}
/* line 163, /home/eve/moebi/app/assets/stylesheets/main.scss */
.footer-nav-link {
  text-align: center;
}
/* line 165, /home/eve/moebi/app/assets/stylesheets/main.scss */
.footer-nav-link h4 {
  font-size: .8em;
  margin-bottom: 20px;
}

/* line 172, /home/eve/moebi/app/assets/stylesheets/main.scss */
.footer-accordion ul {
  list-style-type: none;
  padding-left: 0;
  color: white;
}

/* line 179, /home/eve/moebi/app/assets/stylesheets/main.scss */
.footer-baseline {
  margin-bottom: 10px;
}

/* line 183, /home/eve/moebi/app/assets/stylesheets/main.scss */
.copyright-text {
  text-align: center;
  font-size: 0.8em;
  color: white;
  margin-top: 20px;
}

/* line 192, /home/eve/moebi/app/assets/stylesheets/main.scss */
.main-content {
  position: relative;
}

/* line 196, /home/eve/moebi/app/assets/stylesheets/main.scss */
.main-content header {
  position: absolute;
  top: 20px;
  max-width: 60%;
}

/* line 202, /home/eve/moebi/app/assets/stylesheets/main.scss */
.main-content h1,
.main-content h2,
.main-content h5,
.main-content h6 {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: -15px;
  color: #729ea1;
  text-shadow: none;
}

/* line 213, /home/eve/moebi/app/assets/stylesheets/main.scss */
.main-content h5 {
  font-weight: 900;
}

/* line 217, /home/eve/moebi/app/assets/stylesheets/main.scss */
.main-content a:hover img {
  opacity: .5;
}

/* line 221, /home/eve/moebi/app/assets/stylesheets/main.scss */
.main-content:hover header {
  z-index: 2;
}

/* line 225, /home/eve/moebi/app/assets/stylesheets/main.scss */
.main-content:hover h1,
.main-content:hover h2,
.main-content:hover h5,
.main-content:hover h6 {
  background-color: #729ea1;
  color: white;
}

/* line 233, /home/eve/moebi/app/assets/stylesheets/main.scss */
.main-content img {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: auto;
}

/* line 239, /home/eve/moebi/app/assets/stylesheets/main.scss */
.main-content-subline {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-transform: lowercase;
}

/* line 246, /home/eve/moebi/app/assets/stylesheets/main.scss */
.main-content-gallery {
  margin-bottom: 15px;
}

/* line 250, /home/eve/moebi/app/assets/stylesheets/main.scss */
.main-article-subline {
  font-weight: 400;
  font-size: 1.8em;
}

/* line 260, /home/eve/moebi/app/assets/stylesheets/main.scss */
#carousel-landing-page {
  margin: 30px auto;
}

/* line 264, /home/eve/moebi/app/assets/stylesheets/main.scss */
.carousel-inner {
  margin: auto;
}

/* line 268, /home/eve/moebi/app/assets/stylesheets/main.scss */
.carousel-control {
  opacity: 0.5;
}

/* line 272, /home/eve/moebi/app/assets/stylesheets/main.scss */
.carousel-control.right {
  background-image: none;
}

/* line 276, /home/eve/moebi/app/assets/stylesheets/main.scss */
.carousel-control.left {
  background-image: none;
}

/* line 283, /home/eve/moebi/app/assets/stylesheets/main.scss */
#error_explanation h2 {
  font-weight: 400;
  font-size: 150%;
  margin-bottom: 10px;
}

/* line 292, /home/eve/moebi/app/assets/stylesheets/main.scss */
.form-authentication {
  background-color: rgba(114, 158, 161, 0.4);
  padding: 25px;
}

/* line 297, /home/eve/moebi/app/assets/stylesheets/main.scss */
.form-small {
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;
}

/* line 303, /home/eve/moebi/app/assets/stylesheets/main.scss */
.form-authentication-inner {
  border: 2px solid white;
  margin: 0;
  padding: 15px;
}

/* line 310, /home/eve/moebi/app/assets/stylesheets/main.scss */
.form-heading {
  color: white;
}

/* line 314, /home/eve/moebi/app/assets/stylesheets/main.scss */
h3.form-heading {
  font-size: 150%;
}

/* line 318, /home/eve/moebi/app/assets/stylesheets/main.scss */
.brand {
  width: 90px;
  border: 2px solid white;
  padding: 5px;
  font-weight: 400;
  margin: 30px auto;
  font-size: 180%;
}

/* line 327, /home/eve/moebi/app/assets/stylesheets/main.scss */
.form-authentication h2 {
  color: white;
  margin-bottom: 30px;
}

/* line 332, /home/eve/moebi/app/assets/stylesheets/main.scss */
.form-authentication .btn-block,
.form-authentication .form-heading,
.form-authentication .checkbox,
.form-authentication .form-group {
  margin-bottom: 30px;
}

/* line 340, /home/eve/moebi/app/assets/stylesheets/main.scss */
.form-authentication.checkbox {
  font-weight: normal;
}

/* line 344, /home/eve/moebi/app/assets/stylesheets/main.scss */
.form-authentication .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

/* line 354, /home/eve/moebi/app/assets/stylesheets/main.scss */
.form-authentication .form-control:focus {
  z-index: 2;
}

/* line 358, /home/eve/moebi/app/assets/stylesheets/main.scss */
.compact-form-group input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 363, /home/eve/moebi/app/assets/stylesheets/main.scss */
.compact-form-group input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 369, /home/eve/moebi/app/assets/stylesheets/main.scss */
.form-authentication input[type="checkbox"] {
  margin-left: 0;
}

/* line 374, /home/eve/moebi/app/assets/stylesheets/main.scss */
.form-authentication .link-group {
  color: white;
  text-align: center;
}

/* line 380, /home/eve/moebi/app/assets/stylesheets/main.scss */
.form-authentication .btn-default:hover {
  color: white;
  background-color: #729ea1;
}

/* line 385, /home/eve/moebi/app/assets/stylesheets/main.scss */
.form-authentication .btn-default {
  color: #729ea1;
}

/* line 389, /home/eve/moebi/app/assets/stylesheets/main.scss */
.form-authentication .glyphicon-user {
  color: white;
  font-size: 240%;
}

/* line 394, /home/eve/moebi/app/assets/stylesheets/main.scss */
.form-authentication .circle {
  width: 60px;
  height: 60px;
  padding-top: 10px;
  margin: 30px auto;
  border: 2px solid white;
  border-radius: 50%;
  text-align: center;
}

/* line 407, /home/eve/moebi/app/assets/stylesheets/main.scss */
.more_shopping {
  margin: 20px auto;
}

/* line 411, /home/eve/moebi/app/assets/stylesheets/main.scss */
.latest_main-contentucts .row {
  margin: auto;
}

/* line 415, /home/eve/moebi/app/assets/stylesheets/main.scss */
.primary-btn {
  color: #729ea1;
  background-color: white;
}

/* line 420, /home/eve/moebi/app/assets/stylesheets/main.scss */
.primary-btn:hover {
  color: white;
  background-color: #3dc6bb;
}
/* line 15, /home/eve/moebi/app/assets/stylesheets/products.scss */
h1 {
  margin-bottom: 40px;
}

/* line 20, /home/eve/moebi/app/assets/stylesheets/products.scss */
img {
  width: 100%;
  height: auto;
}

/* line 26, /home/eve/moebi/app/assets/stylesheets/products.scss */
.btn-control-group {
  float: right;
  margin: 20px 0;
  color: #729ea1;
}

/* line 32, /home/eve/moebi/app/assets/stylesheets/products.scss */
.btn-control-group-left {
  margin: 20px 0;
  color: #729ea1;
}

/* line 37, /home/eve/moebi/app/assets/stylesheets/products.scss */
.btn-control-group a,
.btn-group a {
  color: #729ea1;
}

/* line 43, /home/eve/moebi/app/assets/stylesheets/products.scss */
.form-image {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 48, /home/eve/moebi/app/assets/stylesheets/products.scss */
.btn-file {
  position: relative;
  overflow: hidden;
  color: #729ea1;
}

/* line 54, /home/eve/moebi/app/assets/stylesheets/products.scss */
.btn-file input[type=file] {
  font-family: "Muli", sans-serif;
  color: #729ea1;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/* line 76, /home/eve/moebi/app/assets/stylesheets/products.scss */
.views {
  margin-top: 10px;
  background-color: #729ea1;
}

/* line 81, /home/eve/moebi/app/assets/stylesheets/products.scss */
.review-sent {
  margin-bottom: 30px;
}

/* line 85, /home/eve/moebi/app/assets/stylesheets/products.scss */
.show-more-link {
  font-size: .8em;
  color: #575552;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 15px;
}

/* line 94, /home/eve/moebi/app/assets/stylesheets/products.scss */
.show-more-link:hover {
  text-decoration: none;
}

/* line 98, /home/eve/moebi/app/assets/stylesheets/products.scss */
.show-more-link:active,
.show-more-link:focus {
  text-decoration: none;
  color: #afaba5;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.


 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

