<div class="container form-authentication form-small">
   <div class="row form-authentication-inner"> 
    <div class="col-sm-12 text-center">
      <div class="circle">
        <span class="glyphicon glyphicon-user"></span>
      </div>
      <h2>Your account</h2>
    </div>

      <%= render 'form', user: @user %>
 
  </div>
</div>