<div class="container latest_articles">
  <hr>
  <h3 class="text-center">Have a look at our latest articles</h3>
  <div class="row">
    <% if @latest_articles.present? %>
      <% @latest_articles.each do |article| %>
        <%= render partial: "shared/article", locals: {article: article} %>
      <% end %>
    <% end %>
  </div>
</div>