<script src="https://checkout.stripe.com/checkout.js"></script>

<button id="stripeButton" class="btn btn-default">
  <span class="glyphicon glyphicon-shopping-cart"></span>
  Buy now
</button>

<script>
var handler = StripeCheckout.configure({
  key: '<%= Rails.configuration.stripe[:publishable_key] %>',
  image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
  locale: 'auto',
  token: function(token) {
    // You can access the token ID with `token.id`.
    // Get the token ID to your server-side code for use.
    return token.id;
  }
});

document.getElementById('stripeButton').addEventListener('click', function(e) {
  // Open Checkout with further options:
  handler.open({
    name: 'möbi',
    description: '<%= @product.name %>',
    currency: 'eur',
    amount: <%= @product.price*100 %>,
    zipCode: true
  });
  e.preventDefault();
});

// Close Checkout on page navigation:
window.addEventListener('popstate', function() {
  handler.close();
});
</script>
