// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,900');

// Font Variables
$font-stack: 'Muli', sans-serif; 

//Colors
$primary-color: rgba(255, 255, 255, 1);
$secondary-color: rgba(175, 171, 165, 1);
$shade-color: rgba(114, 158, 161, 1);
$text-color: rgba(87,85,82, 1);
$highlight-color: rgba(61, 198, 187, 1);
$emphasis-color: rgba(172, 215, 236, 1);


// Styles
body {
  font-family: $font-stack;
  font-weight: 300;
  color: $text-color;
}

h1, h2, h3, h6  {
  font-weight: 900;
  color: $secondary-color;
}

h4, h5 {
  text-transform: uppercase;
}



.subline {
  font-weight: 400;
  font-size: 1.8em;
}

.prod-subline {
  font-family: $font-stack;
  font-weight: 300;
  font-size: 1em;
  text-transform: lowercase;
}

a,
a:active,
a:focus,
a:visited {
  color: $shade-color;
}

a:hover {
  color: $highlight-color;
}



//Content distance for fixed nav and footer
.anchor-top {
  margin-top: 70px;
}

.anchor-bottom {
  height: 220px;
}


//Header
.navbar-main {
  background-color: $secondary-color;
  z-index: 100;
}

.navbar-default .navbar-brand {
  color: $primary-color;
  font-size: 200%;
  font-weight: 400;
}
.navbar-default .navbar-brand:hover {
  color: $text-color;
}

.navbar-default .navbar-nav>li>a {
  transition: all .3s linear .1s;
  color: $primary-color;
  font-size: .9em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .2em;
}
  .navbar-default .navbar-nav>li>a:hover,
  .navbar-default .navbar-nav>li>a:active,
  .navbar-default .navbar-nav>li>a:focus {
  color: $secondary-color;
  box-shadow: 0 -52px $primary-color inset;
  outline-style: none;
  }

.navbar-right .user-nav,
.navbar-right li.user-nav a {
  letter-spacing: 0.1em;
 }

 .navbar-right {
  font-size: 90%;
 }

.navbar-main .glyphicon {
  font-size: 110%;
  line-height: 1.2em;
}

.alert {
  margin: 20px auto;
}



//Sticky Footer
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: $primary-color;
  background-color: $secondary-color;
  z-index: 100;
}
  .footer a,
  .footer h3 {
    color: $primary-color;
  }

.searchform {
  margin-top: 20px;
  width: 100%;
}



.footer-nav-btn {
  text-align: center;
}

.footer-accordion ul {
  list-style-type: none;
  padding-left: 0;
  color: $primary-color;
}  


.footer-baseline {
  margin: 10px auto;  
}

.copyright-text {
  text-align: center;
  font-size: 0.8em;
  color: $primary-color;
}


//Page styling
//Landing_page

.prod {
  position: relative;
}

  .prod header {
      position: absolute;
      top: 20px;
      max-width: 60%;
    }

  .prod h1,
  .prod h2,
  .prod h5,
  .prod h6 {    
    padding: 5px;
    background-color: rgba(255,255,255, .9);
    margin-left:-15px;
    color: $shade-color;
    text-shadow: none;
  }

  .prod h5 {
    font-weight: 900;
  }  

  .prod a:hover img {
    opacity: .5;
  }
  
  .prod:hover header {
    z-index: 2;
  }

  .prod:hover h1,
  .prod:hover h2,
  .prod:hover h5,
  .prod:hover h6 {
    background-color: $shade-color;
    color: $primary-color;
  }

  .prod img {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
  }


//Carousel
#carousel-landing-page {
margin: 30px auto;
}

.carousel-inner {
  margin: auto;
}

.carousel-control {
  opacity: 0.5;
}

.carousel-control.right {
  background-image: none;
}

.carousel-control.left {
  background-image: none;
}  



//Error explanation
#error_explanation h2 {
  font-weight: 400; 
  font-size: 150%;
  margin-bottom: 10px;
}


//Form User Login Edit Signup
.form-signin,
.form-signup {
  max-width: 330px;
  padding: 25px;
  margin: 0 auto;
  background-color: rgba(114, 158, 161, 0.4);
}

.form-heading,
.form-heading {
  color: $primary-color; 
}  

  .form-heading h3 {
    font-size: 150%;
  }

.brand {
  width: 90px;
  border: 2px solid $primary-color;
  padding: 5px;
  font-weight: 400; 
  margin: 30px auto;
  font-size: 180%;
}



.form-user-edit .btn-block,
.form-signin .form-heading,
.form-signin .checkbox,
.form-signin .btn-block,
.form-signup .form-heading,
.form-signup .btn-block {
  margin-bottom: 30px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-user-edit .form-control,
.form-signin .form-control,
.form-signup .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus,
.form-signup .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[type="checkbox"] {
  margin-left: 0;
}



.form-signin-links {
  color: $primary-color;
}


.form-user-edit {
  background-color: rgba(114, 158, 161, 0.4);
  padding: 25px;
}

.form-signin .row,
.form-signup .row,
.form-user-edit .row {
  border: 2px solid $primary-color;
  margin: 0;
}

.form-signup .form-control,
.form-user-edit .form-group {
  margin-bottom: 30px;
}


.form-signin .btn-default:hover,
.form-signup .btn-default:hover,
.form-user-edit .btn-default:hover {
  color: $primary-color;
  background-color: $shade-color;
}

.form-signin .btn-default,
.form-signup .btn-default,
.form-user-edit .btn-default {
  color: $shade-color;
}

.form-user-edit .glyphicon-user {
  color: $primary-color;
  font-size: 240%;
}

.form-user-edit .circle {
  width: 60px;
  height: 60px; 
  padding-top: 10px;
  margin: 30px auto;
  border: 2px solid $primary-color;
  border-radius: 50%;
  text-align: center;

}

.form-user-edit h2 {
  color: $primary-color;
  margin-bottom: 30px;
}
