

// Font Variables
$font-stack: 'Muli', sans-serif; 

//Colors
$primary-color: rgba(255, 255, 255, 1);
$secondary-color: rgba(175, 171, 165, 1);
$shade-color: rgba(114, 158, 161, 1);
$text-color: rgba(87,85,82, 1);
$highlight-color: rgba(246, 254, 219, 1);
$emphasis-color: rgba(172, 215, 236, 1);


h1 {
	margin-bottom: 40px;
}

//Generaĺ styles
img {
  width: 100%;
  height: auto;
}


.btn-control-group {
	float: right;
	margin: 20px 0;
	color: $shade-color;
}

.btn-control-group-left {
    margin: 20px 0;
    color: $shade-color;
}

.btn-control-group a,
.btn-group a {
    color: $shade-color;
}
//Form

.form-image {
	padding-top: 10px;
	padding-bottom: 10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
    color: $shade-color;
}

.btn-file input[type=file] {
	font-family: $font-stack;
	color: $shade-color;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

//Index page
.prod-gallery {
	margin-bottom: 15px;
}


//show
.views { 
  margin-top: 10px;
  background-color: $shade-color;
}



.show-more-link {
  font-size: .8em;
  color: $text-color; 
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 15px;
}

.show-more-link:hover {
  text-decoration: none;
}

.show-more-link:active,
.show-more-link:focus {
 text-decoration: none;
 color: $secondary-color; 
}

