// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,900');

// Font Variables
$font-stack: 'Muli', sans-serif; 

//Colors
$primary-color: rgba(255, 255, 255, 1);
$secondary-color: rgba(175, 171, 165, 1);
$shade-color: rgba(114, 158, 161, 1);
$highlight-color: rgba(246, 254, 219, 1);
$emphasis-color: rgba(172, 215, 236, 1);


// Styles
body {
  font-family: $font-stack;
  font-weight: 300;
  color: $secondary-color;
}

h1, h2, h3 {
  font-weight: 900;
  color: $secondary-color;
}

h4, h5 {
  text-transform: uppercase;
}

a,
a:active,
a:focus {
  color: $highlight-color;
}

a:hover,
a:visited {
  color: $emphasis-color;
}



//Content distance for fixed nav and footer
.anchor-top {
  margin-top: 50px;
}

.anchor-bottom {
  height: 150px;
}


//Header
.navbar-main {
  background-color: $secondary-color;
}

.navbar-default .navbar-brand {
  color: $primary-color;
  font-size: 200%;
  font-weight: 400;
}

.navbar-default .navbar-nav>li>a {
  transition: all .4s linear .4s;
  color: $primary-color;
  font-size: 90%;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .2em;
}
  .navbar-default .navbar-nav>li>a:hover,
  .navbar-default .navbar-nav>li>a:active,
  .navbar-default .navbar-nav>li>a:focus {
  color: $secondary-color;
  box-shadow: 0 -50px $primary-color inset;
  }

//Sticky Footer
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: $primary-color;
    background-color: $secondary-color;
}
  .footer a,
  .footer h3 {
    color: $primary-color;
  }

.searchform {
  margin-top: 20px;
}

.footer-nav-btn {
  text-align: center;
}

.footer-accordion ul {
  list-style-type: none;
  padding-left: 0;
  color: $primary-color;
}  


.footer-baseline {
  margin: 10px auto;  
}

.copyright-text {
  text-align: center;
  font-size: 80%;
  color: $primary-color;
}


