<div class="container">

  <p id="notice"><%= notice %></p>

  <h1>Products</h1>


  <div class="row prod-inner">
  
    <% @products.each do |product| %>
      <%= render partial: "shared/product", locals: {product: product} %>
    <% end %>
  
  </div>


  <br>

  <%= link_to 'New Product', new_product_path %>
  <%= link_to 'Landing Page', home_path %>
</div>
